.chat-button{

position:fixed;

right:30px;
bottom:30px;

width:60px;
height:60px;

border-radius:50%;

background:#00d9ff;

font-size:28px;

border:none;

cursor:pointer;

z-index:2000;

box-shadow:0 0 20px #00d9ff;

transition:0.3s;

}


.chat-button:hover{

transform:scale(1.1);

box-shadow:0 0 35px #00d9ff;

}




.chat-box{

position:fixed;

right:30px;

bottom:100px;

width:330px;

background:#050816;

border:1px solid #00d9ff;

border-radius:15px;

overflow:hidden;

color:white;

z-index:2000;

box-shadow:0 0 25px rgba(0,217,255,0.3);

animation:chatOpen 0.3s ease;

}




.chat-header{

padding:15px;

background:#00d9ff;

color:black;

font-weight:bold;

}




.chat-body{

height:300px;

padding:15px;

overflow-y:auto;

}




.bot{

background:#111827;

padding:10px;

border-radius:10px;

margin-bottom:10px;

}




.user{

background:#00d9ff;

color:black;

padding:10px;

border-radius:10px;

margin-bottom:10px;

}




.questions{

display:flex;

gap:5px;

padding:10px;

}




.questions button{

background:#111827;

color:white;

border:1px solid #00d9ff;

padding:8px;

cursor:pointer;

border-radius:5px;

}




.questions button:hover{

background:#00d9ff;

color:black;

}




@keyframes chatOpen{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}
@media(max-width:480px){

.chat-button{

right:20px;

bottom:20px;

width:55px;

height:55px;

font-size:24px;

}



.chat-box{

right:15px;

left:15px;

bottom:90px;

width:auto;

max-width:350px;

}



.chat-body{

height:250px;

}



.chat-header{

font-size:16px;

padding:12px;

}



.questions{

flex-wrap:wrap;

}



.questions button{

font-size:12px;

padding:7px 10px;

}

}