.chat-button{

position:fixed;

right:30px;

bottom:30px;

width:60px;

height:60px;

border-radius:50%;

border:none;

background:

linear-gradient(45deg,#00ffff,#8a2be2);

font-size:28px;

cursor:pointer;

box-shadow:

0 0 25px #00ffff;

z-index:999;

}



.chat-window{

position:fixed;

right:30px;

bottom:100px;

width:350px;

height:450px;

background:#050816;

border-radius:20px;

border:

1px solid #00ffff;

box-shadow:

0 0 40px rgba(0,255,255,.4);

display:flex;

flex-direction:column;

overflow:hidden;

z-index:999;

}



.chat-header{

padding:18px;

color:white;

font-weight:700;

background:

rgba(0,255,255,.15);

}



.chat-body{

flex:1;

padding:15px;

overflow-y:auto;

}



.bot,
.user{

padding:10px;

margin:10px;

border-radius:15px;

color:white;

}



.bot{

background:

rgba(0,255,255,.15);

}



.user{

background:

rgba(138,43,226,.4);

text-align:right;

}



.chat-input{

display:flex;

padding:10px;

gap:10px;

}



.chat-input input{

flex:1;

padding:10px;

border-radius:20px;

border:none;

outline:none;

}



.chat-input button{

border:none;

border-radius:20px;

padding:10px 15px;

background:#00ffff;

cursor:pointer;

}