.navbar{

position:fixed;

top:0;

left:0;

width:100%;

z-index:1000;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 60px;


background:

rgba(5,8,22,0.75);


backdrop-filter:blur(15px);


border-bottom:

1px solid rgba(0,255,255,0.2);


}



.logo{

font-size:28px;

font-weight:800;

color:white;

letter-spacing:1px;

}



.logo span{

color:#00ffff;

}



.nav-links{

display:flex;

gap:30px;

}



.nav-links a{

color:#cbd5e1;

text-decoration:none;

font-weight:600;

transition:.3s;

}



.nav-links a:hover{

color:#00ffff;


text-shadow:

0 0 15px #00ffff;


}




@media(max-width:800px){


.navbar{

padding:15px 20px;

}


.nav-links{

display:none;

}


}