.soc-terminal {


width:420px;


background:#020617;


border-radius:20px;


border:

1px solid #00ffff;


box-shadow:

0 0 40px rgba(0,255,255,0.3);


overflow:hidden;


font-family:monospace;


}



.terminal-header {


padding:15px;


display:flex;


align-items:center;


gap:8px;


background:#0f172a;


border-bottom:

1px solid rgba(255,255,255,0.1);


}



.terminal-header span {


width:12px;

height:12px;


border-radius:50%;


background:#00ffff;


}



.terminal-header p {


margin-left:15px;


color:#00ffff;


font-weight:bold;


}



.terminal-body {


padding:25px;


color:#22c55e;


line-height:2;


font-size:14px;


}



@media(max-width:900px){


.soc-terminal{

width:100%;

}


}