.footer{


padding:50px 20px;


background:#050816;


color:white;


text-align:center;


border-top:

1px solid rgba(0,255,255,0.2);



}



.footer-content{


max-width:900px;


margin:auto;


}



.footer h2{


font-size:36px;


margin-bottom:10px;


color:white;


}



.footer h2 span{


color:#00ffff;


}



.footer p{


color:#94a3b8;


margin:10px 0;


}



.footer-links{


display:flex;


justify-content:center;


gap:25px;


margin:25px 0;


flex-wrap:wrap;


}



.footer-links a{


padding:10px 22px;


border-radius:25px;


text-decoration:none;


color:white;


background:


rgba(255,255,255,0.08);



border:

1px solid rgba(0,255,255,0.3);



transition:.3s;


}



.footer-links a:hover{


color:#00ffff;


border-color:#00ffff;


box-shadow:

0 0 20px rgba(0,255,255,0.5);


transform:translateY(-3px);


}



.copyright{


font-size:14px;


}