.projects{

padding:80px 20px;

background:#050816;

color:white;

text-align:center;

}



.projects h2{

font-size:40px;

color:#00ffff;

text-shadow:0 0 20px #00ffff;

}



.projects-container{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

margin-top:50px;

}



.project-card{

width:350px;

padding:35px;

background:

rgba(255,255,255,0.08);


border-radius:25px;


border:

1px solid rgba(0,255,255,0.3);


backdrop-filter:blur(15px);


text-align:left;


}



.project-card h3{

font-size:25px;

color:white;

margin-bottom:15px;

}



.project-card p{

color:#cbd5e1;

line-height:1.6;

}



.project-tools{

display:flex;

gap:10px;

flex-wrap:wrap;

margin:25px 0;

}



.project-tools span{

padding:8px 15px;

border-radius:20px;

background:

rgba(0,255,255,0.12);


border:

1px solid #00ffff;

font-size:14px;

}



.project-card a{

color:#00ffff;

font-weight:bold;

}